@{
    Layout = null;
}
@model webApplication.Models.Person;

<html>
<head>


</head>
<body>

    <h1> HELLO FROM PaGE 2</h1>
    <br />
   @Model.UName
    <br />
    <br />
    @Models.Ucity
</body>

</html>